.items-table {
  width: 100%;
}

.mat-column-itemType {
  width: 32px;
  padding-right: 20px;
  text-align: center;
}

.mat-column-itemName {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-left: 20px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-itemEdition {
  padding-left: 40px;
  font-size: 15px;
}

.mat-column-itemReleaseDate {
  padding-right: 200px;
  text-align: center;
}

.mat-column-itemPrintRun {
  text-align: center;
}
