<style>
  h2 {
    text-align: center;
    position: fixed;
    top: 15%;
  }
  form {
    text-align: center;
  }
</style>

<div class="popup-container">
  <h2>Enter the details of your item</h2>
  <div class="popup">
    <form ngForm #myForm = "ngForm" (ngSubmit)="onSubmit(myForm)">
      <select name="type">
        <option value="box" name="box">Box</option>
        <option value="card" name="card">Card</option>
      </select><br /><br />
      Name: <input type="text" name="name"/><br /><br />
      Edition: <input type="text" name="edition"/><br /><br />
      Purchase Price: <input type="text" name="purchase-price"/><br /><br />
      <input id="addItem" type="submit" value="Add Item" />
      <button id="close" class="close-popup" ng-click="onClose()">Close</button>
    </form>
  </div>
</div>
