<div class="popup-container">
  <h2>Enter the details of your item</h2>
  <div class="popup">
    <form ngForm #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      Type: <select name="type" required ngModel>
        <option value="0">Box</option>
        <option value="1">Card</option>
      </select><br /><br />
      Name: <input type="text" name="name" required ngModel /><br /><br />
      Edition: <input type="text" name="edition" required ngModel /><br /><br />
      Release Date: <input type="date" name="releaseDate" required ngModel /><br /><br />
      Print Run: <input type="text" name="printRun" placeholder="Leave empty if unknown" ngModel /><br /><br />
      <input id="addItem" type="submit" value="Add Item" [disabled]="!myForm.form.valid" />
    </form>
    <div class="footer">
      <button id="close" [mat-dialog-close]>Close</button>
    </div>
  </div>
</div>
