h2 {
  text-align: center;
  position: fixed;
  top: 15%;
}

form {
  text-align: center;
  height: 80%;
  padding: 10px;
}

.popup-container {
  position: fixed;
  top: 10%;
  left: 15%;
  width: 70%;
  height: 70%;
  z-index: 1050;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 60%;
  height: 60%;
  background-color: white;
}

.footer {
  height: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#close {
  justify-self: center;
  height: 35px;
  width: 60px;
  margin-right: 10px;
}