<!--<nav>
  <div class="nav nav-tabs" role="tablist">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</button>
  </div>
</nav>
<div class="tab-content">
  <div class="tab-pane fade show active" id="home" role="tabpanel" tabindex="0">Home</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" tabindex="0">Profile</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" tabindex="0">Contact</div>
  <div class="tab-pane fade" id="disabled" role="tabpanel" tabindex="0">Disabled</div>
</div>-->
<mat-tab-group>
  <mat-tab label="Home"> Home </mat-tab>
  <mat-tab label="Profile"> Profile </mat-tab>
  <mat-tab label="Contact"> Contact </mat-tab>
  <mat-tab label="disabled"> Disabled </mat-tab>
</mat-tab-group>
